<!-- TMPL_INCLUDE "tmpl/head.tmpl" -->
<div class="content">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>BALANCE</th>
            </tr>
        </thead>
        <tbody>
            <!-- TMPL_LOOP rows -->
            <tr>
                <td><a href="/customer?id=<!-- TMPL_VAR cid -->"><!-- TMPL_VAR cid --></a></td>
                <td><!-- TMPL_VAR name --></td>
                <td value="<!-- TMPL_VAR balance -->"><!-- TMPL_VAR balance --></td>
            </tr>
            <!-- /TMPL_LOOP -->
        </tbody>
    </table>
    <div>
        <form method="POST" action="/customer/add" target="_blank">
            <input type="text" name="cid" placeholder="Customer ID" autofocus="autofocus"/>
            <input type="text" name="name" placeholder="Customer NAME"/>
            <input type="submit" value="+ CUSTOMER"/>
        </form>
    </div>
</div>
<!-- TMPL_INCLUDE "tmpl/foot.tmpl" -->
